
header {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}



h1 {
    text-align: center;
}


p {
    text-align: center;
}

nav {
    background-color: rgba(128, 128, 128, 0.829);
    box-shadow: 1px 1px 1px black;
    padding: 10px;
    border-radius: 5px;
}

nav > a {
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    color: white;
    transition-duration: .5s;
}

nav > a:hover {
    background-color: rgba(0, 0, 0, 0.224);
}

footer {
     text-align: center;
     font-family: Georgia, 'Times New Roman', Times, serif;
     background-color: gray;
     color: black;
     padding: 1px;
}